.overlay{
    position: absolute;
    top: 4%;
    left: 4%;
    background: rgb(2,0,36);
    background: linear-gradient(139deg, rgba(2,0,36,1) 0%, rgba(249,10,105,0.7) 0%, rgba(0,29,161,1) 100%);
    height: 96%;
    width: 92.5%;
    opacity: 0;
    transition: 0.75s ease;
}

.ctr{
    position: absolute;
    transform: translate(-50% -50%);
    text-align: center;
    padding-top: 27%;
}

.imghov:hover .overlay{
    opacity: 1;
}